@media only screen and (min-width:992px)  {
    .card {
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 10px;
        height: 300px;
        width: 400px;
        text-align: center;
        font-family: 'Brush Script MT', cursive;
        font-size: large;
        font-weight: bold;
        color: black;
        z-index: 2;
    }
    .base{
        background-color: transparent;
        position: relative;
        width: 400px;
        height: 300px;
        display: flex;
        justify-content: center;
        font-size: 50px;
        
    }
    .cover{
        display: flex;
        justify-content: left;
        align-items: center;
        z-index: 5;
        
        
        
    }
    .cover-left{
        height: 0;
        width: 0;
        border-bottom: 300px solid #da110a;
        border-left: 400px solid transparent;
        z-index: 4;
        position: absolute;
    
    }
    .cover-right{
        
        height: 0;
        width: 0;
        border-bottom: 300px solid #da110a;
        border-right: 400px solid transparent;
        z-index: 4;
        position: absolute;
    }
    .envelope{
        height: 0;
        width: 0;
        border-top: 150px solid red;
        border-left: 200px solid transparent;
        border-right: 200px solid transparent;
        position: absolute;
        z-index: 6;
        cursor: pointer;
        transition: all 1s;
        transform-origin: top;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -ms-transition: all 1s;
        -o-transition: all 1s;
}





}